.appBackground {
  background-color: #282c34;
  min-height: 100vh;
}

.chatContainer{
  position: absolute;
  top: 100px;
  left: 200px;
  border: solid;
  height: 500px;
  width: 700px;
  background: #fff
}

.header{
  position: absolute;
  top: 29px;
  right: 535px;
  color: #fff;
}

.chatInputContainer{
  position: absolute;
  top: 620px;
  left: 200px;
  border: solid;
  height: 50px;
  width: 700px;
  background: #fff
}

.chatInput input[type='text'], .chatInput input[type='submit'] {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}


